home=https://registry.npmmirror.com
registry=https://registry.npmmirror.com/
sass_binary_site="https://registry.npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="http://cnpmjs.org/downloads"
ELECTRON_MIRROR="https://mirrors.huaweicloud.com/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
profiler_binary_host_mirror="https://registry.npmmirror.com/mirrors/node-inspector/"
chromedriver_cdnurl="https://registry.npmmirror.com/mirrors/chromedriver"
puppeteer_download_host = https://registry.npmmirror.com/mirrors
selenium_cdnurl=http://registry.npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://registry.npmmirror.com/mirrors/node-inspector
