# Default values for lunettes.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# share
namespace: lunettes
imagePullPolicy: IfNotPresent
# kubernetesSvcHost: kubernetes.default
# kubernetesSvcPort: "6443"
cluster: staging
esUser: elastic
esPassword: changeme
policyVersion: v1

# audit-apiserver
enableAuditApiserver: true
auditResources:
  limits:
    cpu: 100m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 200Mi
auditLogMaxAge: 1
auditLogMaxBackup: 2
auditLogMaxSize: 200

# lunettes
lunettesImage: lunettes/lunettes:latest
lunettesNodeport: 30880
lunettesLogsPath: /logs
lunettesLogsHostPath: /home/var/logs/lunettes
lunettesType: NodePort
apiserverEnabled: true
traceEnable: false
lunettesResources:
  limits:
    cpu: 4
    memory: 10Gi
  requests:
    cpu: 1
    memory: 500Mi

# grafanadi
grafanadiInitKubeClient: false
grafanadiType: NodePort
grafanadiNodePort: 30280
grafanadiLogsPath: /logs
grafanadiLogsHostPath: /home/var/logs/grafanadi
grafanadiResources:
  limits:
    cpu: 250m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 500Mi

# grafana
grafanaImage: lunettes/grafana:latest
grafanaType: NodePort
grafanaNodePort: 30180
grafanaResources:
  limits:
    cpu: 250m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 500Mi

# kibana
kibanaImage: kibana:7.17.13
kibanaNodePort: 30610
kibanaResources:
  limits:
    cpu: 250m
    memory: 500Mi
  requests:
    cpu: 250m
    memory: 500Mi

# filebeat
filebeatImage: elastic/filebeat:7.17.14
filebeatResources:
  limits:
    cpu: 100m
    memory: 200Mi
  requests:
    cpu: 100m
    memory: 200Mi

# elasticsearch
elasticImage: elasticsearch:7.17.13
elasticInitImage: busybox:stable
elastic1NodePort: 30920
elastic2NodePort: 30930
esJavaOptions: "-Xms1g -Xmx1g"
esCleanSchedule: "0 0 * * *"
esDataKeepDays: 15d
elasticsearchResources:
  limits:
    cpu: 1
    memory: 2G
  requests:
    cpu: 1
    memory: 2G

# prometheus
promImage: prom/prometheus
prometheusNodePort: 30190
prometheusResources:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 512Mi

# jaejer
jaegerImage: quay.io/jaegertracing/all-in-one:1.45
jaegerType: NodePort
jaegerNodePort: 30686
jaegerResources:
  limits:
    cpu: 100m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 512Mi
